{{ define "title" }}Blog{{ end }}

{{ define "main" }}

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">{{ .Title }}</h1>
    </div>
</section>

<section class="section">
    {{ range $i, $page := .Data.Pages.ByDate.Reverse }}
    <div class="columns">
        <div class="column is-12">
            <a href="{{ $page.RelPermalink }}" class="box">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h4 class="title is-5">{{ $page.Title }}</h4>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <p>{{ $page.Date.Format "2 Jan, 2006" }}</p>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <div class="container">
                            <div class="content">
                                <p class="has-text-weight-light">{{ $page.Summary }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {{ end }}
</section>

{{ end }}
