<footer class="footer">
    <div role="contentinfo">
        <section class="panel u-no-margin" style="background-color: white">
            <div class="l-constrain">
                <div class="footer__sitemap">
                    <h3 class="h3 u-no-margin u-no-padding">Sitemap</h3>
                    <ul id="footer-menu" class="list-plain list--no-margin">
                        <li id="menu-item-968"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-657 current_page_item menu-item-968">
                            <a href="/" aria-current="page"><span>Home</span></a>
                        </li>
                        <li id="menu-item-962"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-962"><a
                                href="/about"><span>About</span></a></li>
                        <li id="menu-item-990"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-990"><a
                                href="/about/team"><span>Team</span></a></li>
                        <li id="menu-item-963"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-963"><a
                                href="/about/faq"><span>FAQ</span></a></li>
                        <li id="menu-item-961"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-961"><a
                                href="/blog"><span>Blog</span></a></li>
                        <li id="menu-item-969"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-969"><a
                                href="/donate"><span>Donate</span></a></li>
                        <li id="menu-item-965"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-965"><a
                                href="/contact"><span>Contact</span></a></li>
                        <li id="menu-item-967"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-967"><a
                                href="/terms"><span>Terms</span></a></li>
                        <li id="menu-item-966"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-966"><a
                                href="/privacy-policy"><span>Privacy</span></a>
                        </li>
                    </ul>
                </div>

                <div class="footer__meta">
                    <p class="u-no-margin">
                        <span>&copy; Vote for Policies</span>
                        Vote for Policies is an independent non-profit organisation registered in the United
                        Kingdom (no. 8198015)
                    </p>
                    <p class="u-no-margin">
                        Postcode data source: <a href="http://postcodes.io/about" target="_blank">Postcodes.io</a>
                        licensed under MIT
                    </p>
                </div>
            </div>
        </section>

    </div>
</footer>