ul.sub-menu {
    margin: 0;
    padding-left: 10px;
}

@media screen and (min-width: 48em) {
    .masthead .l-constrain {
        overflow: visible;
        ;
    }

    .topMenu,
    .topMenu ul {
        overflow: visible !important;
    }

    .topMenu>li {
        position: relative;
        ;
    }

    ul.sub-menu {
        background-color: #222;
        position: absolute;
        display: block;
        left: -9999px;
        text-align: left;
        z-index: 998;
        width: 240px;
    }

    ul.sub-menu li {
        display: block;
        float: none !important;
    }

    .menu-item-has-children:hover ul.sub-menu {
        left: auto !important;
        right: 0 !important;
    }
}