<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {{ with .Site.Params.meta.description }}
    <meta name="description" content="{{ . }}" />
    {{ end }} {{ with .Site.Params.meta.keywords }}
    <meta name="keywords" content="{{ . }}" />
    {{ end }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <!-- IE8 unsupported -->

    <!-- <link rel="stylesheet" href="/css/dist.css" />

    <script src="/js/dist.js"></script> -->

    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <link rel="shortlink" href="{{ .Site.BaseURL }}" />

    {{ $stylesheet := .Site.Data.webpack.main }} {{ with $stylesheet.css }}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var link = document.createElement("link");
        link.href = "{{ relURL . }}";
        link.type = "text/css";
        link.rel = "stylesheet";

        document.getElementsByTagName("head")[0].appendChild(link);
      });
    </script>
    {{ end }} {{ $script := .Site.Data.webpack.main }} {{ with $script.js }}
    <script src="{{ relURL . }}" defer async></script>
    {{ end }}
  </head>

  <body>
    {{ partial "nav.html" . }}

    <div class="container">
      {{ block "main" . }} {{ end }}
    </div>

    <!-- {{ partial "footer.html" . }} -->
  </body>
</html>
