{{ define "main" }}
<section class="l-constrain u-page-padding">
    <header class="u-landmark u-divide page-title">
        <h1 class="h1 u-no-margin">Bringing truth to politics</h1>
    </header>

    <div class="cms-page">

        <p><strong><a
                    href="https://voteforpolicies.org.uk/blog/2019-wrap-up-good-result-for-vfp-bad-result-for-democracy">43%</a>
                didn&#8217;t vote in the last general election. That&#8217;s 24 million people. </strong>
        </p>



        <p>To build a society that works for everyone, everyone should have a say in what happens &#8211;
            and have access to the truth. That&#8217;s how democracy should work &#8211; but we
            haven&#8217;t designed it that way. </p>



        <p>We want to redesign our democracy by removing the barriers that stop people having their say, and
            staying informed.</p>



        <p>Please <a href="https://voteforpolicies.org.uk/donate">donate to support our work</a></p>



        <hr class="wp-block-separator" />



        <p>Vote for Policies runs two services in the UK to help people get more informed about the issues
            they care about:</p>



        <ul>
            <li>Our pre-election survey has been used 3 million times to give people more confidence to vote
                by knowing what they are voting for. </li>
            <li>Our <a href="https://policytracker.org.uk/">Tracker</a> tracks the progress of the
                government&#8217;s manifesto promises.</li>
        </ul>



        <p><em>Sign up to follow the work we&#8217;re doing:</em></p>



        <form
            action="//voteforpolicies.us3.list-manage.com/subscribe/post?u=8d4ba3b0edc03f56d90535663&amp;id=484928f2ec"
            method="post" target="_blank" class="form ng-pristine ng-valid" novalidate="">

            <input type="email" id="mce-EMAIL" name="EMAIL" title="you@domain.com" placeholder="you@domain.com"
                class="form__input u-landmark--desktop">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text"
                    name="b_8d4ba3b0edc03f56d90535663_484928f2ec" tabindex="-1" value=""></div>
            <input class="btn btn--positive btn--small" type="submit" value="Subscribe" name="subscribe"
                id="mc-embedded-subscribe">
        </form>
    </div><!-- .cms-page -->

</section>

<section class="panel--green">
    <section class="l-constrain">
        <div class="donate-cta">
            <div class="l-grid l-grid--1to2-col">

                <div class="l-grid-unit">
                    <p class=""><strong>Please support us</strong> to help more people vote</p>
                </div>

                <div class="l-grid-unit">

                    <a href="/donate" class="btn btn--donate">
                        Donate
                        <i class="icon icon--right right-arrow--green"></i>
                    </a>

                </div>

            </div>
        </div>
    </section>
</section>

{{ end }}